:root {
  --rows-count: 1;
  --cols-count: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Marmelad", sans-serif;
  font-weight: 500;
  font-size: clamp(0.5rem, 1.5vw, 1.25rem);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  text-shadow: 2px 0 2px #000;
}

#board {
  width: 100vw;
  /* height: 100vh; */
  background: url("images/board-bg.png") no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#status-bar {
  width: 100%;
  height: 10vw;
  background: url("images/state-panel-bg.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  /*text-align: center;*/
  gap: 5px;
  padding: 3px;
  color: white;
  z-index: 1;
}

@media screen and (min-width: 480px) {
  #status-bar {
    gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  #status-bar {
    gap: 20px;
    padding: 10px;
  }
}

#map {
  position: absolute;
  top: calc(10vw + 3vh);
  left: 50%;
  transform: translateX(-50%);
  width: 50vh;
  height: 50vh;
  display: grid;
  grid-template-rows: repeat(var(--rows-count), 1fr);
  grid-template-columns: repeat(var(--cols-count), 1fr);
  gap: 2px;
  flex-grow: 1;
  z-index: 0;
}

@media screen and (min-width: 480px) {
  #map {
    width: 60vh;
    height: 60vh;
  }
}

@keyframes frameAnimation {
  0% {
    background-image: url("images/frames/frame_0_delay-0.07s.png");
  }
  14% {
    background-image: url("images/frames/frame_1_delay-0.07s.png");
  }
  28% {
    background-image: url("images/frames/frame_2_delay-0.07s.png");
  }
  42% {
    background-image: url("images/frames/frame_3_delay-0.07s.png");
  }
  56% {
    background-image: url("images/frames/frame_4_delay-0.07s.png");
  }
  70% {
    background-image: url("images/frames/frame_5_delay-0.07s.png");
  }
  84% {
    background-image: url("images/frames/frame_6_delay-0.07s.png");
  }
  100% {
    opacity: 0;
  }
}

.disappear-animation {
  animation: frameAnimation 0.8s steps(7) forwards;
  backface-visibility: hidden;
  background-size: cover;
  z-index: 3;
}

.cell {
  position: relative;
  background-color: rgba(103, 101, 168, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid rgba(103, 101, 168, 1);
  padding: 5px;
}

.cell img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease;
  z-index: 1;
}

.cell:hover img {
  transform: scale(1.1);
}

.cell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cell:hover::before,
.cell:focus::before {
  background-image: url("images/cell-hover-bg.png");
  background-size: cover;
  cursor: pointer;
  opacity: 1;
}

.cell.selected::before {
  background-image: url("images/cell-selected-bg.png");
  background-size: cover;
  opacity: 1;
}

.moves-board {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-shadow: none;
}

.score-board {
  position: relative;
  left: 1vw;
  /* top: 0.5vw; */
  font-size: 1.4em;
}

@media screen and (min-width: 768px) {
  .score-board {
    font-size: 1.7em;
  }
}

.zouwu-img,
.kelpie-img {
  width: 4vw;
}

.kelpie-img {
  margin-left: 2vw;
}

.beings-for-win-wrap,
.score-value-wrap {
  width: 15vw;
}

.beings-for-win-wrap {
  font-size: 0.8em;
  text-align: center;
}

.moves-board-wrap {
  width: 10vw;
}

.zouwu,
.kelpie {
  /*margin-left: -1vw;*/
  position: relative;
  right: 1vw;
  bottom: 0.5vw;
}

#game-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vw;
  background: url("images/game-footer.png") no-repeat center center;
  background-size: cover;
  padding: 3px;
  font-size: 1.5em;
  color: white;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  #game-footer {
    padding: 10px;
  }
}
